export const Links = {
    urlFacebook: "fb://some/facebookpage/",
    urlDiscord: "DISCORD LINK",
    urlWhatsapp: "WHATSAPPLINK",
    apiEndpoint: "https://someendpoint/api/",
    avatarUrlEndpoint: "https://website.com.br/example/",
    unknownProfileUrl: "https://www.unknownprofilepic.com.br/example.png",
};

export const LoginText = {
    alert: {
        title: "Alert Title",
        content: "Alert Message",
    },
    critical: {
        title: "Critical Messagem Title",
        content: "Critical message body",
    },
};

const {
    urlFacebook,
    urlDiscord,
    urlWhatsapp,
    apiEndpoint,
    avatarUrlEndpoint,
    unknownProfileUrl,
} = Links;
